/* Styles for the form container */
* {
    box-sizing: border-box;
   
}

.container1{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  background: #fff;
  padding-bottom: 30px;

}

.header1{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;

}

.text1{
  color: rgb(255, 102, 0);
  font-size: 48px;
  font-weight: 700;
}

.underline1{
  width: 61px;
  height: 6px;
  background: rgb(255, 102, 0);
  border-radius: 9px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the form fields and labels */
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Styles for error messages */
  span {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }
  
  /* Styles for the submit button */
  button {
    background-color: rgb(255, 102, 0);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgba(255, 102, 0, 0.819);
  }
  